page-repos {

}
.main_card{
    background-color: lightskyblue;
    width: 100%;
    height: 100%;
    margin: 0;
}
.card1{
     background-color: greenyellow;
width: 100%;
height: 80%;
margin: 0;
}
.card2{
     background-color: plum;
width: 100%;
height: 10%;
margin: 0;
}
.card0{
     background-color: cornflowerblue;
width: 100%;
height: 10%;
margin: 0;
}
.in1{
  background-color: rgb(230, 213, 226);

  width:82%;
  height: 80%;
  margin-top: 2%;
  margin-left: 2%;
  margin-bottom: 2%;
  float:left;
  border-radius: 8px;

}
.btn1{
  margin-left: 3%;
  margin-top: 2.5%;
  width: 10%;

  margin-bottom: 2%;
  border-radius: 15px;

}
.cnt1{
  background-color: #88a1ca;

}
.header1{
  background-color: #fff;
}

.item1{
  background-color: #e5a09c;

  width:78%;
  margin-top: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  border-radius: 10px;
  float:right;
  text-overflow: ellipsis;;

}
.head1{
  background-color: transparent;
}
.head2{
  background-color: transparent;
  margin-left: -8%;
}
